/* font-family */
.heading-font-family{
  font-family: $heading-font-family;
}

.display-font-family{
  font-family: $display-font-family;
}

.base-font-family{
  font-family: $base-font-family;
}

.vh-xl-100{
  height: calc(100vh - 138px); // header 68 footer 64 border 6
  @include media-breakpoint-up(xl){
    height: calc(100vh - 197px); // header 104 footer 87 border 6
  }
}

.vh-xl-auto{
  height: calc(100vh - 138px); // header 68 footer 64 border 6
  
  @include media-breakpoint-up(xl){
    // height: calc(100vh - 197px); // header 104 footer 87 border 6
    height: auto;
  }
}

.letter-spacing-base{
  letter-spacing: 1.2;
}


/* button */
.btn-tag{
  border-width: 1px 1px 1px 4px;
  border-color: $primary;
  padding: 4px 24px;
  
  &:hover{
    border-color: $primary; // 不知道為何不設這個 hover 後，border 會不見
  }
}

.btn-main{
  background: $primary;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $base-font-family;
  
  &:hover{
    background: $primary;
    color: $secondary;

    path{
      fill: $secondary;
    }
  }
}


/* font-size */
@for $i from 1 to 25 {
  .fs-#{$i}{
    font-size: $i * 4px;
  }
}

@for $i from 1 to 50 {
  .fs-#{$i}h{
    font-size: $i * 4px + 2px;
  }
}


@each $breakpoint, $width in $grid-breakpoints {
  @media (min-width: $width){
    @for $i from 1 to 25 {
      .fs-#{$breakpoint}-#{$i}{
        font-size: $i * 4px !important; // 不知道是不是因為 bootstrap 預設個關係，必須要加 important 才能覆蓋
      }
    }

    @for $i from 1 to 50 {
      .fs-#{$breakpoint}-#{$i}h{
        font-size: $i * 4px + 2px;
      }
    }
  }
}


