<ul class="pagination d-flex justify-content-center">
  <li class="page-item">
    <a class="page-link d-flex justify-content-center align-items-center"><i class="icofont icofont-arrow-left"></i></a>
  </li>
  <li class="page-item">
    <a class="page-link d-flex justify-content-center align-items-center" href="#">1</a>
  </li>
  <li class="page-item active" aria-current="page">
    <a class="page-link d-flex justify-content-center align-items-center" href="#">2</a>
  </li>
  <li class="page-item">
    <a class="page-link d-flex justify-content-center align-items-center" href="#">3</a>
  </li>
  <li class="page-item">
    <a class="page-link d-flex justify-content-center align-items-center" href="#">4</a>
  </li>
  <li class="page-item">
    <a class="page-link d-flex justify-content-center align-items-center" href="#">5</a>
  </li>
  <li class="page-item">
    <a class="page-link d-flex justify-content-center align-items-center" href="#"><i class="icofont icofont-arrow-right"></i></a>
  </li>
</ul>