.category {
  li {
    aspect-ratio: 1/1;
    max-height: 112px;

    @include media-breakpoint-up(xl) {
      max-height: 196px;
    }

    &:hover {
      a {
        color: $white;
        background-color: $hover;
        border: 2px solid $hover;
      }

      path {
        fill: $white;
      }
    }
  }

  a {
    border: 2px solid $primary;
  }

  svg {
    width: 40px;
    height: 40px;

    @include media-breakpoint-up(xl) {
      width: 80px;
      height: 80px;
    }
  }
}

.event-link {
  position: relative;

  &:hover {
    &::before {
      display: block;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    margin: auto;
    display: none;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-color: #FBFF22;
    z-index: -1;
  }
}

.albums {
  h2 {
    transform: translate(-50%, -50%) rotate(-4deg);
  }

  li {
    &:nth-child(2n) {
      transform: rotate(2deg);
    }

    &:nth-child(3) {
      transform: rotate(-2deg);
    }

    &:hover{
      animation-name: shake;
      animation-duration: .3s;
      animation-timing-function: ease;
    }
  }

  @keyframes shake{
    0%{transform: rotate(3deg);}
    25%{transform: rotate(-3deg);}
    50%{transform: rotate(3deg);}
    75%{transform: rotate(-3deg);}
    100%{transform: rotate(3deg);}
  }
}