.order{
  &-list::before{
    width: 85%;
    height: 1px;
    content: "";
    position: absolute;
    background-color: $primary;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
  }
  &-num{
    width: 32px;
    height: 32px;
  }

  &-table{
    tr{
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

