<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>about</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <main class="pt-20 pt-xl-24">
      <section class="event_banner">
        <div class="container">
          <div class="row g-2 g-xl-6">
            <div class="col-xl-10">
              <div class="border border-2 p-3 p-xl-6">
                <img src="../assets/images/event-09.jpg" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-xl-2">
              <!-- flex-grow-1 父層需有 d-flex 才能有作用 -->
              <!-- 等高需設定 h-100，才能分配子層內容 -->
              <div class="row h-100 d-flex flex-xl-column g-2 g-xl-0">
                <div class="col-4 col-xl-12">
                  <div class="me-xl-0 mb-xl-6 border border-2 py-8 fs-6 fs-xl-12 d-flex justify-content-center align-items-center">2023</div>
                </div>

                <div class="col-8 col-xl-12 flex-grow-1">
                  <div class="h-100 position-relative border border-2 py-3 px-6 py-xl-12 d-flex flex-xl-column justify-content-between align-items-center">
                    <p class="event-time text-center fs-5h fs-xl-12">MAY <br>19</p>
                    <div class="d-flex flex-column justify-content-center align-items-center fs-4 fs-xl-8">
                      <p>12:00</p>
                      <p>|</p>
                      <p>20:00</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="event_info">
        <div class="container">
          <h2 class="mb-2 mb-xl-4 fs-8 fs-xl-15 fw-700">返老還童-制服聯誼</h2>
          <p class="mb-6 base-font-family fs-xl-5h">穿上制服，無年齡限制，一起走上街頭、尋找青春才有的純愛心動！</p>
          <ul class="d-none d-xl-flex flex-wrap gap-2 mb-8">
            <li><a class="btn btn-tag">聯誼</a></li>
            <li><a class="btn btn-tag">美食</a></li>
            <li><a class="btn btn-tag">戶外</a></li>
            <li><a class="btn btn-tag">交通旅遊</a></li>
          </ul>
          <div class="border border-2 p-4 base-font-family lh-base text-justify fs-xl-5h">
            <p class="mb-4">想回到過去？試著讓故事繼續？</p>
            <p class="mb-4">由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！制服由主辦方提供，妝髮造型可額外加價購！</p>
            <p>活動中全程會有隨行攝影師，捕捉你們的純愛互動，拍攝成實境電視劇，讓你們能留下永恆的美好回憶&lt;3</p>
          </div>
        </div>
      </section>

      <section class="ticket">
        <div class="container">
          <div class="mb-6 mb-xl-8 border border-3 py-4 px-6 d-flex justify-content-between align-items-center">
            <h2 class="fs-6 fs-xl-16">TICKET</h2>
            <p class="fs-xl-8 fw-700">購票資訊</p>
          </div>

          <table class="table align-middle">
            <thead>
              <tr class="fs-3h fs-xl-4" style="border-bottom: 2px solid black;">
                <th width="15%">活動日期</th>
                <th width="50%">票種</th>
                <th width="10%">票價</th>
                <th width="20%">購票</th>
              </tr>
            </thead>
            <tbody class="base-font-family">
              <tr class="fs-3h fs-xl-4">
                <td>2023/5/12</td>
                <td>普通票</td>
                <td>$600</td>
                <td>
                  <button class="btn border border-2 fw-700 fs-3h fs-xl-4 text-nowrap">
                    <span class="d-none d-xl-inline-block">立即</span>購票
                  </button>
                </td>
              </tr>
              <tr class="fs-3h fs-xl-4">
                <td>2023/5/12</td>
                <td>改頭換面票（含大改造）</td>
                <td>$3600</td>
                <td>
                  <button class="btn border border-2 fw-700 fs-3h fs-xl-4">
                    <span class="d-none d-xl-inline-block">立即</span>購票
                  </button>
                </td>
              </tr>
              <tr class="fs-3h fs-xl-4">
                <td>2023/5/12</td>
                <td>必勝票（含戀愛小抄</td>
                <td>$8000</td>
                <td>
                  <button class="btn border border-2 fw-700 fs-3h fs-xl-4">
                    <span class="d-none d-xl-inline-block">立即</span>購票
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

    </main>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>