<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/meta'); -%>
    <title>7 TAO 活動訂票網 | 訂購結果</title>
</head>

<body>
  <%- include('./layout/header'); -%>

  <main>
    <div class="container">
      <div class="pt-6 pb-12 py-xl-15">
        <div class="row flex-column">
          <div class="col-md-6 mx-auto">

            <!-- 進度條 -->
            <ol class="order-list mb-6 mb-xl-12 position-relative d-flex justify-content-between align-items-center">
              <li class="d-flex flex-column align-items-center">
                <p class="order-num mb-1 border border-1 bg-primary text-white d-flex flex-column align-items-center justify-content-center">
                  <i class="icofont icofont-verification-check text-secondary"></i>
                </p>
                <p class="fw-bold">訂單確認</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <p class="order-num mb-1 border border-1 bg-primary text-secondary d-flex flex-column align-items-center justify-content-center">2</p>
                <p class="fw-bold">結帳付款</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <p class="order-num mb-1 border border-1 d-flex flex-column bg-background align-items-center justify-content-center">3</p>
                <p class="fw-bold">訂購結果</p>
              </li>
            </ol>

            <!-- 購票資訊 -->
            <div class="mb-6 mb-xl-12">
              <h2 class="mb-4 text-xl-center fs-8 fs-xl-12 fw-700">返老還童-制服聯誼</h2>
              <p class="mb-6 mb-xl-8 p-2 bg-primary text-secondary text-center base-font-family">您的訂單已保留，請在2023/5/30 04:32 前完成繳費。若逾期未繳款，系統將取消您的訂單。</p>
              <table class="table border-top border-2">
                <tbody class="order-table">
                  <tr>
                    <td class="fw-700">訂單編號</td>
                    <td class="text-end base-font-family">892746123</td>
                  </tr>
                  <tr>
                    <td class="fw-700">訂購時間</td>
                    <td class="text-end base-font-family">2023/04/28 14:30</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- 結帳表單 -->
            <div class="d-flex flex-column align-items-center">
              <svg width="32" height="32" class="mb-4" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M68.9062 35C68.9062 35 66.0188 35.5469 60.6047 36.0938C55.1906 36.6406 47.2609 37.1875 37.1875 37.1875C37.1875 57.3344 35 68.9062 35 68.9062C35 68.9062 34.4531 66.0188 33.9062 60.6047C33.3594 55.1906 32.8125 47.2609 32.8125 37.1875C12.6656 37.1875 1.09375 35 1.09375 35C1.09375 35 3.98125 34.4531 9.39531 33.9062C14.8094 33.3594 22.7391 32.8125 32.8125 32.8125C32.8125 12.6656 35 1.09375 35 1.09375C35 1.09375 37.1875 12.6656 37.1875 32.8125C57.3344 32.8125 68.9062 35 68.9062 35Z"
                  fill="#030303" />
                <path d="M37.1875 30.625C43.75 21.875 50.3125 19.6875 50.3125 19.6875C47.493 24.6897 43.7868 29.1372 39.375 32.8125" fill="#030303" />
                <path d="M30.625 32.8125C21.875 26.25 19.6875 19.6875 19.6875 19.6875C24.6897 22.507 29.1372 26.2132 32.8125 30.625" fill="#030303" />
                <path d="M32.8125 39.375C26.25 48.125 19.6875 50.3125 19.6875 50.3125C22.507 45.3103 26.2132 40.8628 30.625 37.1875" fill="#030303" />
                <path d="M39.375 37.1875C48.125 43.75 50.3125 50.3125 50.3125 50.3125C45.3103 47.493 40.8628 43.7868 37.1875 39.375" fill="#030303" />
                <path d="M35 40.4688C38.0203 40.4688 40.4688 38.0203 40.4688 35C40.4688 31.9797 38.0203 29.5312 35 29.5312C31.9797 29.5312 29.5312 31.9797 29.5312 35C29.5312 38.0203 31.9797 40.4688 35 40.4688Z" fill="#030303" />
              </svg>
              <h3 class="mb-4 fs-6 fw-700">結帳資訊</h3>

              <form class="w-100 d-flex flex-column base-font-family">
                <div class="mb-4">
                  <label for="userId" class="mb-2">取票資訊</label>
                  <input type="text" class="form-control mb-1 border-2 py-2 px-4 fs-5" id="userId" placeholder="請輸入身分證字號或護照號碼">
                  <p>請輸入您的 <span class="text-danger">身分證字號</span> 供取票使用，外籍人士請輸入 <span class="text-danger">護照號碼</span></p>
                </div>
                <div class="mb-6">
                  <p class="mb-2">付款方式</p>
                  <div class="form-check d-flex align-items-center">
                    <input type="checkbox" class="form-check-input rounded-5 me-2" id="creditCard">
                    <label for="creditCard" class="form-check-label">信用卡</label>
                  </div>
                  <div class="form-check d-flex align-items-center">
                    <input type="checkbox" class="form-check-input rounded-5 me-2" id="atm">
                    <label for="atm" class="form-check-label">ATM虛擬帳號</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 mx-auto">
                    <a href="order-finsh.html" class="w-100 btn btn-primary mb-6 mb-xl-8 py-2 d-flex justify-content-center align-items-center base-font-family fs-5" type="submit">確認訂單並繳費 $8000
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M15.768 9.43999L11.704 5.37599C11.394 5.06599 10.892 5.06599 10.582 5.37599L10.232 5.72599C9.92201 6.03599 9.92201 6.53799 10.232 6.84799L12.826 9.44199C12.982 9.59799 13.058 9.79999 13.058 10.002C13.058 10.204 12.98 10.408 12.826 10.562L10.232 13.156C9.92201 13.466 9.92201 13.968 10.232 14.278L10.582 14.628C10.892 14.934 11.394 14.934 11.704 14.624L15.768 10.56C15.924 10.404 16 10.202 16 9.99999C16 9.79799 15.922 9.59399 15.768 9.43999ZM9.76801 9.43999L5.70401 5.37599C5.39401 5.06599 4.89201 5.06599 4.58201 5.37599L4.23201 5.72599C3.92201 6.03599 3.92201 6.53799 4.23201 6.84799L6.82601 9.44199C6.98201 9.59799 7.05801 9.79999 7.05801 10.002C7.05801 10.204 6.98001 10.408 6.82601 10.562L4.23201 13.156C3.92201 13.466 3.92201 13.968 4.23201 14.278L4.58201 14.628C4.89201 14.934 5.39401 14.934 5.70401 14.624L9.76801 10.56C9.92401 10.404 10 10.202 10 9.99999C10 9.79799 9.92201 9.59399 9.76801 9.43999Z"
                          fill="white" />
                      </svg>
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>

</html>